h1 {color: red; }
body {
background: black;
  color: white;}
div {
background: black;
color: #ffffff;
border: 2px solid rgb(255, 0, 0);
}
h2.bordered {
border: 1px solid black;
}
h2.dashed-border {
border-width: 1px;
border-style: dashed;
border-color: red;
}
